<table>
  <tbody>
    <tr>{{#each users as |user|}}
      <td align=center>
        <a href="{{user.url_slug}}">
          <img src="{{user.avatar}}" width="{{../avatar_size}}" height="{{../avatar_size}}">
          <br>
          {{user.name}}
        </a>
      </td>{{/each}}
    </tr>
  </tbody>
</table>
